.content {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @include respond-to("4K") {
        max-width: 114rem;
    }

    @include respond-to("desktop") {
        max-width: 96.2rem;
    }

    @include respond-to("tablet") {
        max-width: 75rem;
        padding-right: 3rem;
        padding-left: 3rem;
    }

    @include respond-to("phone-md") {
        max-width: 8rem;
        padding-right: 3rem;
        padding-left: 3rem;
    }

    @include respond-to("phone-sm") {
        max-width: 41rem;
        padding-right: 3rem;
        padding-left: 3rem;
    }
}