.main-title1 {
    
    h5 {
        @include heading(#bb6868, center);
        margin-bottom: 3rem;
        font-size: 1.8rem;
    }

    h3 {
        @include heading(#222, center);
        font-size: 3.6rem;
    }
}

.main-title2 {
    
    h5 {
        font-size: 2rem;
        text-transform: uppercase;
        letter-spacing: .15rem;
        margin-bottom: .5rem;
        color: #c0c0c9;
    }

    h3 {
       font-size: 4.3rem;
       line-height: 6.5rem;
       font-weight: 600;

       span {
           font-weight: 300;
           color: #222;
       }
    }
}