*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
}

.wrapper {
  max-width: 100%;
}

a {
  text-decoration: none;
}

img {
  height: 100%;
  max-height: 100%;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}