//! import google fonts
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600,700|Josefin+Sans:300,400,600,700|Karla|Lato:300,400,700|Muli:300,400,600,700|Nunito:300,400,600,700|Oswald:300,400,500,600,700|PT+Sans:400,700|PT+Serif:400,700|Poppins:300,400,500,600,700|Source+Sans+Pro:300,400,600,700|Ubuntu:300,400,500,700&display=swap');
// OR use @font-face like below

//! set font variables
$font-body: sans-serif;
$font-heading: serif;
$font-poppins: 'Poppins', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-nunito: 'Nunito', sans-serif;
$font-josefin: 'Josefin Sans', sans-serif;
$font-ubuntu: 'Ubuntu', sans-serif;
$font-muli: 'Muli', sans-serif;
$font-karla: 'Karla', sans-serif;
$font-source: 'Source Sans Pro', sans-serif;
$font-pt-sans: 'PT Sans', sans-serif;
$font-pt-serif: 'PT Serif', serif;
$font-oswald: 'Oswald', sans-serif;
$font-fira-sans: 'Fira Sans', sans-serif;


html {
  font-size: 62.5%; // 1rem = 10px, 3.5rem = 35px;
}

body {
  font-family: $font-lato;
  font-size: 1.6rem;
  color: $black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-lato;
  font-weight: 400;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3{
  font-size: 1.872rem;
}

h4{
  font-size: 1.6rem;
}

h5{
  font-size: 1.328rem;
}

h6{
  font-size: 1.072rem;
}
