/* MEDIA QUERIES */
@mixin respond-to($breakpoint) {
  @if $breakpoint=="phone-sm" {
    @media (max-width: 575.98px) {
      @content;
    }
  }

  @else if $breakpoint=="phone-md" {
    @media (min-width: 576px) and (max-width: 767.98px) {
      @content;
    }
  }

  @else if $breakpoint=="tablet" {
    @media (min-width: 768px) and (max-width: 991.98px) {
      @content;
    }
  }

  @else if $breakpoint=="desktop" {
    @media (min-width: 992px) and (max-width: 1199.98px) {
      @content;
    }
  }

  @else if $breakpoint=="4K" {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else {
    @media ($breakpoint) {
      @content;
    }
  }
}

//! Example usage
/* @include respond-to('mobile') {} */


/* CENTERING */
@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex ($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin card1($background, $color, $border1, $border2) {
    position: relative;
    padding: 6rem 3.5rem 6.4rem;
    background: $background;
    transition: all .3s ease;
    z-index: 1;
    @include border-radius(1.2rem);

    &::before {
        position: absolute;
        content: "";
        top: 1rem;
        bottom: 1rem;
        right: 1rem;
        left: 1rem;
        border: 1px solid $border1;
        opacity: 1;
        visibility: visible;
        z-index: -1;
    }

    &:hover {
        transform: translateY(-.5rem);
        box-shadow: $shadow-lg;

        &::before {
            border-color: $border2;
        }
    }
}

@mixin card2 {
  position: relative;
  transition: all .3s ease;
}

@mixin heading($color, $align) {
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 1.23;
  color: $color;
  text-align: $align;
}
